#root{
  background-color: black;
}
.input{
  width: 700px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  padding-left: 30px;
  border: transparent;
}
.btn{
  height: 42px;
  width: 100px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  border: transparent;
}
.section1{
  display: flex;
  justify-content: space-around;
  height: 80px;
  
}
.text{
  font-size: 15px;
  color: white;
}
.search{
  margin-top: 15px;
}
.image{
  width: 300px;
  height: 450px;
}
.moviesCard{
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  height: 100%;
}
.film{
  border: 1px solid gray;
  border-radius: 10px;
  width: 400px;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
}
.add-movie{
  border: 1px solid grey;
  border-radius: 10px;
  width: 400px;
  height: 650px;
}
.add-movie:hover{
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px gray;
}
.plus{
  text-align: center;
  font-size: 150px;
  color: white;
}

.starColored{
  color: orange;
}
.film:hover{
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px gray;
}
.film h3{
  color: white;
}
.film p{
  color: white;
}
.star{
  color: white;
}
.btn-edit-remove{
  /* border: 1px solid red; */
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.btns{
  /* border: 1px solid red; */
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.button{
  background-color: grey;
  color: white;
  border: transparent;
  border-radius: 5px;
  height: 30px;
  width: 80px;
}
.btn-descrip{
  background-color: grey;
  color: white;
  border: transparent;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  margin-left: 25px;
}

